*{
    margin: 0;
    box-sizing: border-box;
}
.wrap{
    width: 400px;
    height: 100vh;
    margin: 0px auto;
}
.container{
    box-shadow: 10px 10px 50px black;
    padding: 10px;
}
p{
    margin: 25px 0px;
}
label{
    display: block;
}
.avl label, input{
    display: inline;
    margin: 5px 0px;
}
