*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin-left: 25%;
    margin-top: 15%;
    width: 700px;
    height: 320px;
    box-shadow: 10px 10px 50px black;
    padding: 20px;
}
h3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: #842d2d;
}
.wraper{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
}
.wraper .logo img{
    width: 100px;
    height: 80px;
    margin: 10px;
    border: 1px solid #842d2d;
    padding: 10px;
}
.wraper .logo:hover{
    border: 1px solid #842d2d;
}