*{
    margin: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 700px;
    box-shadow: 10px 10px 60px black;
    padding: 10px;
}
h1{
    margin-bottom: 20px;
}
.box{
    margin: 10px 0px;
    display: flex;
}
.box span{
    display: block;
    min-width: 200px;
}
.email input{
    min-width: 200px;
}
.box .check{
    margin-right: 7px;
}



