*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 300px;
    height: 80px;
    box-shadow: 10px 10px 50px black;
    margin-top: 20%;
    margin-left: 40%;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    padding: 10px;
    align-items: center;
}
#search{
    margin-left: 15px;
    width: 70px;
}
#search:focus{
    background-color: aquamarine;
    width: 200px;
}