*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    margin: 40vh 50vh;
    padding: 20px;
    box-shadow: 10px 10px 50px black;
}
table, th, td{
    border: 1px solid #7a0505;
    border-collapse: collapse;
    width: 100%;
}
.row0{
    background-color: #7a0505;
}
.row1, .row3, .row5, .row7{
    background-color: gray;
}
tr td:nth-child(2){
    text-align: right;
}